<form [formGroup]="profileForm" (ngSubmit)="saveProfile()">

<div class="profil">

  <div class="row">
    <div class="col">
      <h3>First name:</h3>
      <label>
        <input class="form-control form-control" type="text" name="firstName" formControlName="firstName" placeholder="First Name">
      </label>
    </div>
    <div class="col">
      <h3>Last name:</h3>
      <label>
        <input class="form-control form-control" type="text" name="lastName" formControlName="lastName" placeholder="Last Name">
      </label>
    </div>
  </div>
  <br>
  <div class="form-group">
    <h3>Description:</h3>
    <textarea class="form-control" name="description" formControlName="description" rows="4" placeholder="Description"></textarea>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h3>Gender:</h3>
      <div class="genderSelect">
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="gender1" name="gender">
          <label class="form-check-label" for="gender1">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="gender2" name="gender">
          <label class="form-check-label" for="gender2">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="gender3" name="gender">
          <label class="form-check-label" for="gender3">Other</label>
        </div>
      </div>
    </div>
  </div>
<br>
  <button type="submit" class="btn btn-dark">Create</button>
  <button type="submit" class="btn btn-dark" (click)="setShouldNavigateToList()">
    Save and Back
  </button>
  </div>
</form>


