<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/test-list">Happy Food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link">Profil</a>
          <div class="dropdown-content">
            <a href="/profile-site">Mein Profil</a>
            <a href="/profile-form">Profil bearbeiten</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link">Rezepte</a>
          <div class="dropdown-content">
            <a href="/recipe-list">Alle Rezepte</a>
            <a href="/favorite-list">Meine Favoriten</a>
            <a href="/recipe-form">Rezept erstellen</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link">Zutaten</a>
          <div class="dropdown-content">
            <a href="/ingredient-list">Zutatenliste</a>
            <a href="/ingredient-form">Zutat erstellen</a>
          </div>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/grocerylist">Einkaufsliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="home_center">
    <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="home_center">
    <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="home_center">
    <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

</body>
</html>


