<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/test-list"><i class="fa fa-fw fa-home"></i>Happy Food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-fw fa-user"></i>Profil</a>
          <div class="dropdown-content">
            <a href="/profile-site">Mein Profil</a>
            <a href="/profile-form">Profil bearbeiten</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link"><i class='fas fa-leaf'></i> Rezepte</a>
          <div class="dropdown-content">
            <a href="/recipe-list">Alle Rezepte</a>
            <a href="/favorite-list">Meine Favoriten</a>
            <a href="/recipe-form">Rezept erstellen</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link"><i class='fas fa-apple-alt'></i> Zutaten</a>
          <div class="dropdown-content">
            <a href="/ingredient-list">Zutatenliste</a>
            <a href="/ingredient-form">Zutat erstellen</a>
          </div>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/grocerylist"><i class='fas fa-clipboard-list'></i> Einkaufsliste</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/logout"><i class='fas fa-sign-in-alt'></i> Logout</a>
      </div>
    </form>
  </div>
</nav>
<br>
<div class="row">
  <div class="column" style="background-color: lightgrey">
      <div class="textstyle_home">
        <br>
        <h1>Welcome to Happy Food!</h1>
        <br>
        <br>
        <p>Are you interested to create some recipes or to create your own?</p>
        <div class="minus_icon"><p><i class='fas fa-minus'></i></p></div>
        <div class="textstyle_home_line">
          <p>Yes? Great!</p>
        </div>
        <div class="minus_icon"><p><i class='fas fa-minus'></i></p></div>
        <div class="textstyle_home_line_2">
          <p>Happy Food is the right site to find the best recipe for the day</p>
        </div>
        <div class="minus_icon"><p><i class='fas fa-minus'></i></p></div>
        <div class="textstyle_home_line_3">
          <p>You can choose between meals with meat or vegan ones.</p>
        </div>
        <div class="minus_icon"><p><i class='fas fa-minus'></i></p></div>
        <div class="textstyle_home_line_4">
          So let's have a look at the recipes!
        </div>
        <br>
        <div class="button_style_home">
          <button  class="btn btn-dark" [routerLink]="'/recipe-list'">All Recipes</button>
        </div>
    </div>
  </div>
  <div class="rightcolumn" style="background-color: dimgrey">
    
    <img src="https://drop.ndtv.com/albums/COOKS/pasta-vegetarian/pastaveg_640x480.jpg" width="400" height="300">
    <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="400" height="300">
  </div>
</div>

<!--
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="home_center">
    <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="home_center">
    <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="home_center">
    <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>-->
</body>
</html>


