<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/test-list"><i class="fa fa-fw fa-home"></i>Happy Food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-fw fa-user"></i>Profil</a>
          <div class="dropdown-content">
            <a href="/profile-site">Mein Profil</a>
            <a href="/profile-list">Profilliste</a>
            <a href="/profile-form">Profil bearbeiten</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link"><i class='fas fa-leaf'></i> Rezepte</a>
          <div class="dropdown-content">
            <a href="/recipe-list">Alle Rezepte</a>
            <a href="/recipe-form">Rezept erstellen</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link"><i class='fas fa-apple-alt'></i> Zutaten</a>
          <div class="dropdown-content">
            <a href="/ingredient-list">Zutatenliste</a>
            <a href="/ingredient-form">Zutat erstellen</a>
          </div>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/grocerylist"><i class='fas fa-clipboard-list'></i> Einkaufsliste</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/logout"><i class='fas fa-sign-in-alt'></i> Logout</a>
      </div>
    </form>
  </div>
</nav>

<div class="recipe_style">
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>{{recipe.title}}</h2>
        <div class="fakeimg" style="height:200px;">Image</div>
        <h5>Recipe Description:</h5>
        <p>{{recipe.recipeDescription}}</p>
        <h5>Complexity:</h5>
        <p>{{recipe.complexity}}</p>
        <h5>Cooking Time:</h5>
        <p>{{recipe.cookingTime}}</p>
        <h5>Category:</h5>
        <p>{{recipe.category}}</p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Ingredients</h2>
        <br>
          <div *ngFor="let ing of ingredients">
            <h5>Name:</h5>
            <p> - {{ing.ingredientName}}</p>
            <p> - {{ing.unit}}{{ing.amount}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="recipe_style_button">
  <button class="btn btn-dark" [routerLink]="'/recipe-form/' + recipe.id">Edit</button>
  <button type="submit" class="btn btn-dark" [routerLink]="'/recipe-list'">Back</button>
</div>


</body>
</html>


