<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/test-list">Happy Food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link">Profil</a>
          <div class="dropdown-content">
            <a href="/profile-site">Mein Profil</a>
            <a href="/profile-form">Profil bearbeiten</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link">Rezepte</a>
          <div class="dropdown-content">
            <a href="/recipe-list">Alle Rezepte</a>
            <a href="/favorite-list">Meine Favoriten</a>
            <a href="/recipe-form">Rezept erstellen</a>
          </div>
        </li>
      </div>
      <div class="dropdown">
        <li class="nav-item">
          <a class="nav-link">Zutaten</a>
          <div class="dropdown-content">
            <a href="/ingredient-list">Zutatenliste</a>
            <a href="/ingredient-form">Zutat erstellen</a>
          </div>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/grocerylist">Einkaufsliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <form #todoForm= "ngForm"(submit)="todoSubmit(todoForm.value); todoForm.resetForm()" >
    <div class="form-group">
      <h1 class="text-center">Einkaufsliste</h1>
      <div class="input-group-prepend">
        <input type="text" #todo  class="form-control" placeholder="Add Item" name="todo" ngModel>
        <span class="input-group-text" (click)="addTodo(todo.value)">
    <i class="material-icons">add</i></span>
      </div>
    </div>
    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft]  *ngFor="let todo of groceryList">{{todo.grocery}} <i (click)="deleteItem(todo)" class="material-icons">delete</i></li>

      </ul>
    </div>
  </form>
</div>

</body>
</html>
