body {
  background: url("https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: auto;

}


/* Bordered form */
form {
  border: 3px dashed darkgreen;


  width: 25%;
  text-align: center;
  margin: 15% auto;
  //background-color: ;
  //background-image: url("https://static1.squarespace.com/static/53a0470ce4b00a948fdede7f/t/53bc1f88e4b037448c609326/1404837769171/cooking+stock+photo.jpg?format=1500w");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -18px -18px;



}

label {
  font-family: Georgia, serif;
  font-size: 11px;
  letter-spacing: 1.2px;
  word-spacing: 1.8px;
  color: darkgreen;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: uppercase;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#demotext {
  color: darkgreen;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
