a:link, a:visited {
  background-color: grey;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  alignment: center;
}


a:hover, a:active {
  background-color: gainsboro;
}

div {
  text-align: center;
}
